.dashboard__content > h1 {
    padding-left: 10px;
    color: var(--txt-color);
    font-size: 25px;
    font-weight: 600;
}

/* holder/container of the info boxes */
.dashboard__content__holder {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

/* the info boxes */
.dashboard__content__holder > div{
    color: #fff;
    height: 140px;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.today__trans__cont {
    background-color: var(--blue);
    grid-column: 1 / span 3;
}

.sales__today__cont {
    background-color: var(--yellow-orange);
    grid-column: 4 / span 3;
}

.walkin__customers__cont {
    background-color: var(--red);
    grid-column: 7 / span 3;
}

.online__customers__cont {
    background-color: var(--green);
    grid-column: 10 / span 3;
}

.staff__accounts__cont {
    background-color: var(--brown);
    grid-column: 1 / span 3;
}


/* actual content */
.dashboard__content__holder > div > div {
    display: flex;
    justify-content: space-between;
}

.dash__texts {
    display: flex;
}
.dashboard__icons {
    font-size: 30px;

}

.dashboard__content__holder > div > p {
    font-size: 40px;
}
